#cartContainer{
    margin-top: 20px;
}

.card {
    border: 3px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    width: 30%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

.amount-card {
    border: 5px solid #910b0b;
    border-radius: 80px;
    padding: 10px;
    width: 20%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(88, 219, 17, 0.777);
    background-color: #fff;
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

.card-button {

    width: 20%; /* Take the full width of the container */
    align-self: center; /* Center the button within the container */
    text-align: center;
    padding: 8px;
    background-color: #d45125; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for background color change */

}
