body {
    background-color: white
}

.container {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 1px;
}

form {
    margin-top: 20px;
}

.btn-block {
    margin-top: 20px;
}

body {
    margin: 0;
    padding: 0;
}

.no-margin {
    margin: 0;
}

#medicines {
    background-color: rgb(189, 212, 221);
    margin-bottom: 10px;
    margin-right: 50pt;
    border-radius: 5px;
}

.tab-space {
    margin-left: 20px; /* Adjust the value as needed */
}

.container {
    width: 97.5%;
    min-height: 69vh;
    padding: 0;
    background-image: url(../../static/customer/backround_image.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

#horizontal_divide {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20pt;
    margin-right: 30pt; 
    margin-top: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vertical_divide {
    align-items: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 101x;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* justify-content: space-between; */
}

.image {
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid black;
}