.navbar {
    margin: 3px;
    margin-bottom: 2px;
    background-color: rgb(255, 255, 255);
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#logo {
    margin-left: 20px;
    width: 60px;
    margin-top: 1px;
}

#index {
    width: 30%;
}

#index a {
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    color: blue;
}

#index li :hover {
    font-size: 15pt;
    /* border-bottom-style:
    border-bottom-color: blue; */
}

#index ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: right;
    font-size: 14pt;
    margin-left: 0;
    list-style-type: none;
    padding-top: 15px;
}