.navbar {
    margin: 10px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    margin-left: 20px;
    width: 60px;
}

#index {
    width: 30%;
}

#index a {
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    color: blue;
}

#index li :hover {
    font-size: 15pt;
    border-bottom-style: outset;
    border-bottom-color: blue;
}

#index ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: right;
    font-size: 14pt;
    margin-left: 0;
    list-style-type: none;
    padding-top: 15px;
}