body {
    background-color: white
}

.container {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 1px;
}

form {
    margin-top: 20px;
}

.btn-block {
    margin-top: 20px;
}

body {
    margin: 0;
    padding: 0;
}

.no-margin {
    margin: 0;
}

#medicines {
    background-color: lightblue;
    margin-bottom: 10px;
    margin-right: 50pt;
    margin-left: 20pt;
    border-radius: 5px;
    width: 100%;
}

#item {
    background-color: rgba(49, 48, 47, 0.325);
    margin: 10px;
    margin-left: 18px;
    border-radius: 5px;
    width: 65%;
    border: #05000058;
}

#tab-space {
    margin-left: 0px;
}

#horizontal_divide {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20pt;
    margin-right: 30pt; 
    margin-top: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vertical_divide {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.image {
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

.content {
    text-align: left; 
    color: black; 
    text-decoration: solid; 
    margin-top: 15px; 
    margin-left: 20px; 
    margin-right: 20px;
    margin-bottom: 0px;
}