<!DOCTYPE html>
<html>

<head>

    <!-- include the font for this page -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jomolhari&family=Red+Hat+Display:wght@300&display=swap"
        rel="stylesheet">

    <!-- include the css file and js file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/homepage.css')}}">
    <script src="{{ url_for('static', filename='customer/common.js') }}"></script>

    <!-- Title of the page -->
    <title>Mediko Homepage</title>
</head>

<body>

    <!-- Including the navbar in the webpage -->
    {% include 'customer/navbar.html' %}

    <!-- creating a custom horizontal divider in the webpage  -->
    <div id="horizontal_divide" class="container">

        <!-- Add the mediko logo at the webpage -->
        <div style="width: 250px; margin-bottom: 20px;">
            <img src="../../static/customer/mediko.png" alt="logo" style="width: 100%; border-radius: 10px;">
        </div>

        <!-- Include the search bar interface below logo -->
        <div id="align-bottom">
            <form class="search_bar" id="search_bar" onsubmit="submitSearchForm(event)">
                <input type="text" class="form-control" placeholder="search medicine" id="content">
                <button type="submit">
                    <img src="../../static/customer/search.png">
                </button>
            </form>
        </div>

        <!-- Creating custom vertical divide with in the horizontal divide to include the offer interface -->
        <div id="vertical_divide" style="text-align: center;">

            <!-- Offer 1 div -->
            <div style="width: 200px; margin-right: 55px;">
                <img src="../../static/customer/discount1.png" alt="Discount Image 1"
                    style="width: 100%; border-radius: 10px;">
            </div>

            <!-- Offer 2 div -->
            <div style="width: 200px; margin-right: 55px;">
                <img src="../../static/customer/discount2.png" alt="Discount Image 1"
                    style="width: 100%; border-radius: 10px;">
            </div>

            <!-- offer 3 div -->
            <div style="width: 200px;">
                <img src="../../static/customer/discount3.png" alt="Discount Image 1"
                    style="width: 100%; border-radius: 10px;">
            </div>
        </div>
    </div>
    <!-- <footer>
        <p>
            <h3 style="text-align: center;">Medico 2023</h3>
        </p>
    </footer> -->
</body>

</html>