<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/homepage.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/navbar.css')}}">
    <script src="{{ url_for('static', filename='customer/script.js') }}"></script>
    <title>Mediko Homepage</title>
</head>

<body>
    {% include 'customer/navbar.html' %}
    
    <div id="horizontal_divide" class="container">
        <div id="align-top">
            <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                Welcome to Mediko
            </h2>
        </div>
        <div id="align-bottom">
            <form class="search_bar" id="search_bar" onsubmit="submitSearchForm(event)">
                <input type="text" class="form-control" placeholder="search medicine" id="content">
                <button type="submit">
                    <img src="../../static/customer/search.png">
                </button>
            </form>
        </div>
        <div id="vertical_divide">
            <div style="width:200px;float:left;height:150px; background:lightgreen; margin:10px; text-align: center;">
                First BLOCK
             </div>
             <div style="width: 200px; float:center; height:150px; background:lightblue; margin:10px; text-align: center">
                Second BLOCK
             </div>
             <div style="width: 200px; float:center; height:150px; background:lightblue; margin:10px; text-align: center">
                Second BLOCK
             </div>
        </div>
    </div>
    <!-- <footer>
        <p>
            <h3 style="text-align: center;">Medico 2023</h3>
        </p>
    </footer> -->
</body>

</html>