<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='customer/styles.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/medicine.css') }}">
    <script src="{{ url_for('static', filename='customer/common.js') }}"></script>
</head>
<body>
    {% include 'customer/navbar.html' %}
    <div id="vertical_divide">
        <div id="image">
            <img class="image" src="../../static/customer/paracetamol.webp" alt="Description of the image" width="500" height="350">
            <h2 style="margin-top: 10px; margin-bottom: 2px;"><b>{{ medicine['name'] }}</b></h2>
            <h4 style="margin-top: 0px;"><b>{{ medicine['manufacturer'] }}</b></h4>
        </div>
        
        <div>
            <dl class="content">
                <dt><h4><b>Composition:</b></h4></dt>
                <dd><h6>{{ medicine['composition'] }}</h6></dd>
                <dt><h4><b>Description:</b></h4></dt>
                <dd><h6>{{ medicine['description'] }}</h6></dd>
                <dt><h4><b>Category:</b></h4></dt>
                <dd><h6>{{ medicine['category'] }}</h6></dd>
                <dt><h4 style="color: red;"><b>Side Effects:</b></h4></dt>
                <dd><h6>{{ medicine['side_effects'] }}</h6></dd>
            </dl>
        </div>
        <div id="horizontal_divide">
            <div class="center-text">
                <dl class="price-style">
                    <dt><h4><b>Price</b></h4></dt>
                    <dd><h5>{{medicine['price']}}</h5></dd>
                </dl>
            </div>
            <div class="center-button">
                <center>
                    <button id="Login" type="submit" class="btn btn-primary btn-block">Buy Now</button>
                </center>
            </div>
        </div>
    </div>
</body>
</html>
