<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&family=Red+Hat+Display&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='customer/navbar.css') }}">
<script src="{{ url_for('static', filename='customer/navbar.js') }}"></script>

<nav class=navbar>
    <div>
        <a href="\">
            <img id="logo" src="../../static/customer/mediko_logo.png">
        </a>
    </div>
    <div id=index>
        <ul>
            <li id="button1">
                <a href="#" onclick="redirectToMyAccount(event)">
                    My Account
                </a>
            </li>
            <li id="button2">
                <a href="/cart">
                    Cart
                </a>
            </li>
            <li id="button3">
                <a href="/login">
                    Login
                </a>
            </li>
            <li id="button4">
                <a href="/signup">
                    Sign Up
                </a>
            </li>
            <li id="button5">
                <a href="#" id="logout-button" onclick="logout(event)">
                    Log Out
                </a>
            </li>
        </ul>
    </div>
</nav>