<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop Home Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='customer/medicine.css') }}"> -->
    <script src="{{ url_for('static', filename='shop/common.js') }}"></script>
  </head>

  <body>
    <center>
      <div>
        <h1>Welcome to Shop Interface</h1>
      </div>
      <div>
        <a href="/shop/medicines">
          <button class="btn btn-success btn-block">Medicine Stock</button>
        </a>
        <br><br>
        <a href="/shop/orders">
          <button class="btn btn-success btn-block">Orders</button>
        </a>
      </div>
    </center>
  </body>
</html>
